#us-map{
   
    float: right;
    display: block;
    position: unset;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  path:hover, circle:hover {
    stroke: yellow!important;
    stroke-width:2px;
    stroke-linejoin: round;
    fill: yellow !important;
    cursor: pointer;
  }
  #path67 {
    fill: none !important;
    stroke: yellow !important;
    cursor: default;
  }
 
  
  path:hover, circle:hover {
    stroke: yellow !important;
    stroke-width:2px;
    stroke-linejoin: round;
    fill: yellow !important;
    cursor: pointer;
  }
  
  #info-box {
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
    background-color: #4967c786;
    border: 2px solid rgb(55, 52, 255);
    border-radius: 5px;
    padding: 5px;
    font-family: arial;
    
  }
  
  body {
      background-color: rgb(55, 80, 165);
  }

  .jumbotron {
    font-family: fantasy;
    background-color: whitesmoke;
  }

.navbar {
  font-family: fantasy;
  background-color: yellow;
  font-size: 30px;
}

#maps {
  font-size: 20px;
}

body {font-family: Arial, Helvetica, sans-serif;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.stateinfo {
  width: 100%;
  padding: 50px 0;
  text-align: center;
  background-color: lightblue;
  margin-top: 20px;
}

